body{
  margin: 0px;
  padding: 0px;
}

#map {
 height: 500px;
 width: 80%;
 float: left;
}
#header{
  height: 80px;
  width: 100%;
  background-color: lightgrey;
  float:left;
}
#leftmenu{
  height: 500px;
  width: 20%;
  float: left;
  background: lightgrey;
}
